<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
	version="4.0">
	<display-name>ERS</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
	
	<servlet>
		<servlet-name>LoginServlet</servlet-name>
		<servlet-class>com.revature.web.login</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LoginServlet</servlet-name>
		<url-pattern>/login</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>RegisterServlet</servlet-name>
		<servlet-class>com.revature.web.register</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>RegisterServlet</servlet-name>
		<url-pattern>/register</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>listAllEmployees</servlet-name>
		<servlet-class>com.revature.web.allEmployees</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>listAllEmployees</servlet-name>
		<url-pattern>/employees</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>logoutServlet</servlet-name>
		<servlet-class>com.revature.web.logout</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>logoutServlet</servlet-name>
		<url-pattern>/logout</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>newTicketServlet</servlet-name>
		<servlet-class>com.revature.web.newTicket</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>newTicketServlet</servlet-name>
		<url-pattern>/ticket/new</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>listAllTickets</servlet-name>
		<servlet-class>com.revature.web.allTickets</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>listAllTickets</servlet-name>
		<url-pattern>/tickets</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>processTicket</servlet-name>
		<servlet-class>com.revature.web.processTicket</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>processTicket</servlet-name>
		<url-pattern>/tickets/process</url-pattern>
	</servlet-mapping>
</web-app>